.firstLine {
  text-align: left;
}

.sortTest {
  text-align: right;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
  margin-right: 1rem;
}

.sortTest:hover {
  opacity: 0.5;
}
