h2 {
  font-size: 1.3rem;
  color: black;
}

.btnGroup {
  margin-top: -0.5rem;
  text-align: center;
}

button {
  background-color: whitesmoke;
  width: 100px;
  height: 30px;
}

.deleteBtn {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  border-radius: 0.3rem;
}

.deleteBtn:hover {
  border: #22b8cf solid 2px;
  color: black;
  border-radius: 0.3rem;
  font-weight: bold;
}

.cancleBtn {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  border-radius: 0.3rem;
}

.cancleBtn:hover {
  border: #22b8cf solid 2px;
  color: black;
  border-radius: 0.3rem;
  font-weight: bold;
}
