.OpenBox {
  display: inline-flex;
  background-color: white;
  width: auto;
  height: 100px;
  margin-top: 1rem;
  outline: 1px solid grey;
  border-radius: 0%;
}

.Image {
  height: 100px;
  width: 100px;
  border-right: #adadad solid 1px;
  
}

.Title {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.2rem;
  width:250px;
 overflow: hidden;
 white-space: nowrap;
  text-overflow: ellipsis;
}

.TextBox {
  margin-top: 3px;
  margin-left: 5px;
  width: auto;
}

.Description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: auto;
  width: 260px;
  height: 60px;
  margin-top: 1px;
  max-height: 80px;
  overflow-y: auto;
  text-overflow: ellipsis;
  color: black;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}

