.OpenBox {
  display: inline-flex;
  background-color: whitesmoke;
  height: 100px;
  width: auto;
}

.Image {
  height: 100px;
  width: 100px;
}

.Title {
  font-weight: bold;
  display: inline-block;
}

.TextBox {
  margin-left: 10px;
  font-weight: bolder;
  display: inline-block;
}
