.OpenBox {
  display: inline-flex;
  background-color: whitesmoke;
  height: 100px;
}

.Image {
  height: 100px;
  width: 100px;
}

.Title {
  font-weight: bold;
  display: inline-block;
}

.TextBox {
  margin-left: 10px;
  width:280px;
  display: inline-block;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
  font-weight: bolder;
}